@font-face {
    font-family: 'Urbanist';
    src: url("Urbanist-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'IbarraRealNova';
    src: url("IbarraRealNova-VariableFont_wght.ttf");
}

:root {
    --light-orange: #eba63e;
    
}
* {
    box-sizing: border-box;
}

body {
    background-image: url("library2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.library-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 2rem;
}

.library-icon {
    width: 2.5rem;
    height: 2.3rem;
}

h1 {
    font-family: 'Special Elite', sans-serif;
    color: white;
    font-size: 1.8rem;
    margin-left: 1rem;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    width: clamp(16rem, 65vw, 40rem);
    font-family: 'Urbanist', sans-serif;
    padding-top: 1rem;
}

label {
    margin: 0.6rem 0;
    color: white;
    font-size: 1.1rem;
    text-align: start;
    align-self: flex-start;
}

.text-input {
    position: relative;
    margin: 1.2rem 0;
}

form input[type="text"]+label {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.2s;
    transform: translateY(-0.9rem);
}

form .label-text:hover, input[type="text"]:hover+label, input[type="text"]:valid+label, input[type="text"]:focus+label {
    transform: translate(-0.5rem, -2.5rem) scale(0.9);
    color: var(--light-orange);
}

input[type="checkbox"]:checked+label {
    color: var(--light-orange);
}

input[type="text"] {
    width: 90%;
    border: none;
    background-color: transparent;
    border-bottom: 0.25rem dotted white;
    color: white;
    outline: none;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.read-box {
    margin: 1rem 0 3rem 0;
}

#add-button {
    align-self: center;
    border: none;
    background-color: transparent;
    color: #F2E8B3;
    border: 2px solid;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Urbanist', sans-serif;
    cursor: pointer;
    transition: all 0.25s;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url("./book-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    width: clamp(15rem, 10vw, 30rem);
    font-family: "IbarraRealNova", sans-serif;
    margin: 1rem;
    height: 20rem;
    padding-top: 2.5rem;
    padding-left: 2rem;
    box-shadow: none;
    overflow: hidden;
}

.book-container p {
    margin: 0.2rem;
    text-align: center;
    font-size: clamp(1.2rem, 2.5vw, 3rem);
    overflow-wrap: break-word;
}

.book-container p:first-of-type {
    font-weight: 600;
    font-style: italic;
}

.book-container p:nth-of-type(3) {
    font-size: 1rem;
}

.book-container p:nth-of-type(4) {
    position: absolute;
    width: 10rem;
    font-size: 0.9rem;
    text-align: center;
    font-weight: bold;
    right: 0;
    top: 0;
    padding: 0.4rem;
    margin: 0;
    transform: rotate(45deg) translateY(-2rem) translateX(3rem);
    cursor: pointer;
}

.remove-button {
    position: absolute;
    left: 6rem;
    bottom: 6rem;
    padding: 0.5rem auto;
    width: 4.5rem;
    height: 1.5rem;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 15px;

}

.remove-button:hover {
    color: var(--light-orange);
    border: 1px solid;
    
}

/* ..............................MEDIAS................. */

/* ................500px..................... */

@media (min-width: 560px) {
    form {
        width: clamp(16rem, 65vw, 25rem);
    }
    #add-button {
        color: var(--light-orange);
    }
    #add-button:hover {
        border-color: #F2E8B3;
        color: white;
        box-shadow: 0 0.5rem 0.5rem -0.4rem #F2E8B3;
        transform: translateY(-0.25rem);
    }
    .book-info {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*..........................750px..................*/

@media (min-width: 750px) {
    body {
        background-image: none;
        background-color: #F2E8B3;
        overflow: hidden;
    }
    .main-content {
        flex-direction: row;
        height: 100vh;
        overflow: hidden;
    }
    .input-section {
        width: clamp(20rem, 20vw, 30rem);
        height: 100vh;
        justify-content: flex-start;
        background-image: url("./library2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    form {
        width: clamp(20rem, 20vw, 30rem);
        padding: 0 1.5rem;
        margin-top: 1.5rem;
    }

    .read-label {
        font-size: 1rem;
    }
    .book-info {
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem 0;
        align-items: flex-start;
        overflow-y: scroll;
    }
   
    .book-container p {
        font-size: 1.2rem;
    }
    
    
}